.App {
    background-color: #282726;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
canvas{
    width: 35%;
    height: 500px;
}
.App>*{
    margin-top: 5em;
}
.App .inputs-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}
.App .inputs-block>*{
    width: 100%;
    margin: .5em auto;
}
.App .inputs-block>input{
    padding: .5em ;
    max-width: 480px;
}
.App .inputs-block label{
    background-color: #363533;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #7c7a7a;
    outline: none;
    border-radius: 5px;
    padding: .5em 0;
    font-size: 20px;
    transition: .2s;
}
.App .inputs-block input {
    width: 80%;
    background-color: #363533;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #7c7a7a;
    padding: 0 .5em;
    font-size: 20px;
    transition: .2s;
}
.App .inputs-block input:focus {
    color: #000;
}

.App .inputs-block .digital-range{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.App .inputs-block .digital-range>input{
    width: 48%;
    padding: .5em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.App .inputs-block button, .error-block .back, .clear-graphs{
    background-color: #363533;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #7c7a7a;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    font-size: 20px;
    padding: .5em 0;
}
.App .inputs-block button:hover ,.error-block .back:hover, .clear-graphs:hover{
    background-color: #444444;
    color: #000;
}

.App .inputs-block button:active,.error-block .back:active, .clear-graphs:hover {
    transform: scale(.98);
}

canvas {
    border-radius: 5px;
    background-color: #363533;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.error-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #282726;
}
.error-block .error{
    color: crimson;
    text-align: center;
    font-size: 30px;
    
}
.error-block .back{
    padding: .5em;
    margin: .5em;
}
.main-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.docs{
    padding: 1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
    background-color: #363533;
    margin: 1em 0;
    color: #7c7a7a;
}
.docs .title{
    color: #7c7a7a;
    margin: .5em 0 0;
}
.docs ul{
    margin: .5em 0;
    padding: 1em;
}
.docs span ul{
}
.clear-graphs{
    font-size: 14px;
    padding: .5em;
}
@media only screen and (max-width: 991px){
    .App {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    }
    .App>* {
        margin: 3em 0;
    }
    .App .inputs-block{
        width: 90%;
    }
    .main-content{
        align-items: center;    
        flex-direction: column-reverse;
        width: 80%;
    }
    
    canvas{
        width: 90%;
        height: 100%;
    }
    .App .inputs-block .digital-range{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .App .inputs-block .digital-range>input{
        margin: .5em 0;
        width: 100%;
        max-width: 100%;
    }
    .error-block{
        width: 80%;
        height: 100vh;
    }
    .clear-graphs{
        margin: 0;
    }
}